//first section : bouncing ball
#x {
    animation: x 8s linear infinite alternate;
}
#y {
    animation: y 3s linear infinite alternate;
}
@keyframes x {
    100% {
      transform: translateX( calc(100vw - 480px) );
    }
}
@keyframes y {
    100% {
      transform: translateY( calc(100vh - 480px) );
    }
} 

// third section : gradient background 
@mixin gradientBg {
    animation: slide 4.5s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, rgb(245, 206, 255), #fff5cf, rgb(173, 255, 247));
    bottom:0;
    top:0;
    position: absolute;
    left: -65%;
    right: -65%;
    z-index: -1;
    opacity: 0.9;
}
@keyframes slide {
    0% {
        transform:translateX(-25%);
    }
    100% {
        transform:translateX(25%);
    }
} 

