//first section : bouncing ball
#illubg {
    animation: illu 2.8s ease-out infinite alternate;
}
@keyframes illu {
    100% {
      transform: translateY(3vh);
    }
}

#illustration {
    animation: avatar 2.5s ease infinite alternate;
}
@keyframes avatar {
    100% {
      transform: translateX(-1.5vw);
    }
}

/*
.balls {
#xa {
    animation: xa 3s linear infinite alternate;
}
#ya {
    animation: ya 2.5s linear infinite alternate;
}
@keyframes xa {
    100% {
      transform: translateX(5vw);
    }
}
@keyframes ya {
    100% {
      transform: translateY(8vh);
    }
} 
#xd {
    animation: xd 2s linear infinite alternate;
}
#yd {
    animation: yd 3s linear infinite alternate;
}
@keyframes xd {
    100% {
      transform: translateX(-4vw);
    }
}
@keyframes yd {
    100% {
      transform: translateY(6vh);
    }
} 

#xb {
    animation: xb 4s linear infinite alternate;
}
#yb {
    animation: yb 2.5s linear infinite alternate;
}
@keyframes xb {
    100% {
      transform: translateX(4vw);
    }
}
@keyframes yb {
    100% {
      transform: translateY(-8vh);
    }
} 

#xc {
    animation: xc 3s linear infinite alternate;
}
#yc {
    animation: yc 5s linear infinite alternate;
}
@keyframes xc {
    100% {
      transform: translateX(-4vw);
    }
}
@keyframes yc {
    100% {
      transform: translateY(7vh);
    }
} 

#xe {
    animation: xe 3s linear infinite alternate;
}
#ye {
    animation: ye 5s linear infinite alternate;
}
@keyframes xe {
    100% {
      transform: translateX(-4vw);
    }
}
@keyframes ye {
    100% {
      transform: translateY(7vh);
    }
} 

#xf {
    animation: xf 3s linear infinite alternate;
}
#yf {
    animation: yf 4.5s linear infinite alternate;
}
@keyframes xf {
    100% {
      transform: translateX(6vw);
    }
}
@keyframes yf {
    100% {
      transform: translateY(5vh);
    }
} 

#xg {
    animation: xg 4s linear infinite alternate;
}
#yg {
    animation: yg 3.5s linear infinite alternate;
}
@keyframes xg {
    100% {
      transform: translateX(6vw);
    }
}
@keyframes yg {
    100% {
      transform: translateY(5vh);
    }
} 

@mixin gradientBg {
    position: fixed;
    animation: slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(60deg, rgb(241, 186, 255), #fff5cf, rgb(173, 255, 247));
    bottom: 0;
    top: 0;
    left: -50%;
    right: -50%;
    z-index: -1;
    opacity: 0.85;
}

}
*/ 