//first section : bouncing ball
#x {
    animation: x 8s linear infinite alternate;
}
#y {
    animation: y 3s linear infinite alternate;
}
@keyframes x {
    100% {
      transform: translateX( calc(100vw - 400px) );
    }
}
@keyframes y {
    100% {
      transform: translateY( calc(100vh - 400px) );
    }
} 

#x-2 {
    animation: x-2 9s linear infinite alternate;
}
#y-2 {
    animation: y-2 6.5s linear infinite alternate;
}
@keyframes x-2 {
    100% {
      transform: translateX( calc(100vw - 200px) );
    }
}
@keyframes y-2 {
    100% {
      transform: translateY( calc(100vh - 200px) );
    }
} 

// third section : gradient background 
@mixin gradientBg {
    position: fixed;
    animation: slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(60deg, rgb(241, 186, 255), #fff5cf, rgb(173, 255, 247));
    bottom: 0;
    top: 0;
    left: -50%;
    right: -50%;
    z-index: -1;
    opacity: 0.85;
}

@keyframes slide {
    0% {
        transform:translateX(-25%);
    }
    100% {
        transform:translateX(25%);
    }
} 

//second section : sliding texts
/*
#clear {
    color: rgb(0, 184, 156);
    transition-delay: 1s; 
    transition: 1s ease in;
    animation: txtFlyIn 2s linear;
}
#color {
    color: rgb(0, 135, 115);
    transition-delay: 3s; 
    transition: 1.2s ease in;
    animation: txtFlyIn 3s linear;      
}
#responsive {
    color: rgb(0, 59, 50);
    transition-delay: 5s; 
    transition: 1.4s ease in;
    animation: txtFlyIn 4s linear;      
}
@keyframes txtFlyIn {
    0% { 
        transform: translateX(-150%); 
    }
    100% { 
        transform: translateX(0%); 
    }
}
*/