@import './variables';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    overflow-x: hidden;
    overflow-y: scroll;
}

.section {
    height: 100vh;
    width: 100vw;
    scroll-snap-align: center; 
}

.first {
    @at-root {
        $backgroundColor: #ffffe9;
        $ballColor: #FFFD95;
        $bigIntroColor: #10E689;
        $smallIntroColor: #F56CAD;
    }
    .colorPalette-2 {
        $backgroundColor: #2D1394;
        $ballColor: #7654FF;
        $bigIntroColor: #E0CE34;
        $smallIntroColor: #B528E0;
    }
}

.flex-dir-row {
    display: flex;
    flex-direction: row;
}

.flex-dir-col {
    display: flex;
    flex-direction: column;
}

.a-c-center {
    flex-wrap: wrap;
    height: inherit;
    align-content: center;
}

.center {
    justify-content: center;
    align-items: center;
}

.j-c-center {
    justify-content: center;
}

.p-relative {
    position: relative;
}

.p-absolute {
    position: absolute;
}

.grid {
    display: grid;
}

.noStyle, a {
    @include noStyle;
}

.t-a-center {
    text-align: center;
}