@import './variables';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100vh;
}

body {
    font-family: $quicksand;
    height: -webkit-fill-available;
}

main {
    //background-image: linear-gradient(rgb(197, 255, 242), rgb(226, 199, 255), rgb(255, 232, 209), rgb(255, 212, 249));
    background-image: linear-gradient(225deg, black, rgb(0, 31, 36), rgb(44, 0, 57));
    height: 300vh;
}

.first, .second, .third {
    scroll-snap-align: center; 
    height: 100vh;
    width: 100vw;
    z-index: 0;
}

.walltext {
    position: absolute;
    h1 {
        font-family: $urbanist;
        font-size: 4rem;
        transform: rotate(-90deg);
        @include fontGrad2;
    }
}

.flex {
    display: flex;
}

.flex-dir-row {
    display: flex;
    flex-direction: row;
}

.flex-dir-col {
    display: flex;
    flex-direction: column;
}

.a-c-center {
    flex-wrap: wrap;
    height: inherit;
    align-content: center;
}

.center {
    justify-content: center;
    align-items: center;
}

.j-c-center {
    justify-content: center;
}

.p-relative {
    position: relative;
}

.p-absolute {
    position: absolute;
}

.grid {
    display: grid;
}

.noStyle, a {
    @include noStyle;
}

.t-a-center {
    text-align: center;
}

.lineheight {
    line-height: 2.5;
}