@import './variables';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100%;
}

body {
    font-family: $quicksand;
}

main {
    background-image: linear-gradient(rgb(207, 197, 255), rgb(255, 222, 157), rgb(184, 209, 255), rgb(212, 255, 235));
    height: 300vh;
}

.first, .second, .third {
    scroll-snap-align: center; 
    height: 100vh;
    width: 100vw;
    z-index: 0;
}

.flex {
    display: flex;
}

.flex-dir-row {
    display: flex;
    flex-direction: row;
}

.flex-dir-col {
    display: flex;
    flex-direction: column;
}

.a-c-center {
    flex-wrap: wrap;
    height: inherit;
    align-content: center;
}

.center {
    justify-content: center;
    align-items: center;
}

.j-c-center {
    justify-content: center;
}

.p-relative {
    position: relative;
}

.p-absolute {
    position: absolute;
}

.grid {
    display: grid;
}

.noStyle, a {
    @include noStyle;
}

.t-a-center {
    text-align: center;
}

.lineheight {
    line-height: 2.5;
}