@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;500;600;700&family=Montserrat:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Nothing+You+Could+Do&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chilanka&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chilanka&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alef&display=swap');
@import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@200;300;400;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Phudu:wght@300;400;500;700;900&display=swap');

$phudu: 'Phudu', cursive;
$quicksand: 'Quicksand', sans-serif;
$chakra: 'Chakra Petch', sans-serif;
$nothing: 'Nothing You Could Do', cursive; 
$chilanka: 'Chilanka', cursive;
$caveat: 'Caveat', cursive;
$alef: 'Alef', sans-serif;
$dokdo: 'East Sea Dokdo', cursive;
$urbanist: 'Urbanist', sans-serif;

@mixin noStyle {
    text-decoration: none;
    list-style: none;
    color: black;
    &:visited {
        text-decoration: none;
    }
}

@mixin textOnPics {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin fontGrad {
    background-image: linear-gradient(15deg, rgb(0, 184, 156), rgb(255, 86, 171));
    -webkit-background-clip: text;
    color: transparent;
    padding: 0 0.25rem;
}

@mixin fontGrad2 {
    background-image: linear-gradient(#c87100, #7900b5 80%);
    -webkit-background-clip: text;
    color: transparent;
    padding: 0 0.25rem;
}

@mixin dropshadow {
    img {
        filter: drop-shadow(0 0 4px rgba(0, 71, 57, 0.3));
    }
}