@import './variables';
@import './globals';

header {
    #links {
        position: fixed;
        right: 2.5vw;
        margin-top: 5vh;
        top: 50%;
        transform: translateY(-50%);
        width: fit-content;
        z-index: 1;
        ul {
            background-color: rgba(255, 255, 255, 0.5);
            border-radius: 2rem;
            filter: drop-shadow(0 0 2px rgba(255, 255, 255, 0.8));
            padding: 1rem 0;
            img {
                position: relative;
                width: 1.5rem;
                height: auto;
                margin: 0.75rem;
                filter: drop-shadow(1.5px 1.5px 0 rgba(113, 113, 113, 1));
                bottom: 0;
                left: 0;
                transition: ease-out .4s;
            }        
            img:active {
                filter: drop-shadow(-1.5px -1.5px 0 rgb(255, 255, 255));
                filter: brightness(95%);
                bottom: -1.5px;
                left: 1.5px;
            }
        }
    }
}
main {        
    .first {
        gap: 3rem;
        #profile {
            gap: 3rem;
            align-items: center;
            #pic {
                z-index: 2;
                source, img {
                    width: 10vw;
                    height: auto;
                    border-radius: 50%;
                    filter: drop-shadow(0 0 12px rgba(218, 255, 251, 0.75));
                }
            }
            #hayeong {
                font-family: $squarepeg;
                font-size: 4.75rem;
                font-weight: 700;
                line-height: 5rem;
                @include fontGrad3;
                filter: drop-shadow(0 0 1px rgb(98, 255, 255));
            }

        }
        #description {
            .intro {
                color: rgba(255, 255, 255, 0.8);
                font-size: 1.25rem;
                line-height: 2.25rem;
                text-align: center;
            }
            #skills {
                gap: .5rem;
                padding: 2rem 0 1rem 0;
                flex-wrap: wrap;
                justify-content: center;
                width: 54vw;
                div {
                    padding: .25rem .75rem;
                    background-color: rgba(0, 0, 0, 0.5);
                    border: 3px solid rgba(0, 160, 160, 0.8);
                    border-radius: 25px;
                    color: rgba(255, 255, 255, 0.8);
                    font-size: 1rem;
                    letter-spacing: .5px;
                }
                .mobile-only {
                    display: none;
                }
            }
            #highlight {
                letter-spacing: 1px;
                font-weight: 600;
                @include fontGrad;
                filter: drop-shadow(0 0 3px rgb(0, 0, 0));
            }    
            #nanum {
                color: rgba(195, 195, 195, 0.8);
                font-family: $nanum;
                letter-spacing: .5px;
                font-size: 1rem;
            }
        }
    }
    .second {
        #projects {
            z-index: 1;
            .grid {
                width: 100%;
                grid-template-columns: repeat(2, 1fr);
                gap: 2vw;
                justify-content: center;            
                .website {
                    position: relative;
                    @include dropshadow-web;
                    source, img {
                        filter: brightness(35%);
                        width: 100%;
                        height: 20vh;
                        object-fit: cover; 
                        transition: .3s linear;
                    }
                    .webtitle {
                        @include noStyle;
                        @include textOnPics;
                        width: 100%;
                        text-align: center;
                        color: white;
                        font-size: 1.35rem;
                        letter-spacing: 2.5px;
                        transition: .3s linear;
                        span {
                            font-size: .95rem;
                        }
                    }
                }       
                .website:hover {
                    source, img {
                        filter: brightness(100%);
                    }
                    .webtitle {
                        color: transparent;
                    }
                }    
            }
        }
    }
    .third {
        .walltext {
            padding-left: 2rem;
            h1 {
                font-size: 3rem;
                line-height: 4rem;
                #smooth {
                    font-family: $squarepeg;
                    font-size: 3.5rem;
                    line-height: 4rem;
                }
            }
        }
        #for-future-clients {
            gap: 3rem;
            #quote {
                padding: 0;
                justify-content: center;
                z-index: 2;
                .resize {
                    source, img {
                        width: 2.25rem;
                        height: auto;
                    }
                }
                #opening {
                    padding-top: 10px;
                    @include dropshadow2;
                }
                #closing {
                    padding-bottom: 10px;
                    align-self: flex-end;
                    @include dropshadow2;
                }
                #content {
                    align-self: center;
                    padding: 2rem .5rem;
                    h4 {
                        font-size: 4.25rem;
                        font-family: $squarepeg;
                        color: rgba(255, 255, 255, 0.9);
                        letter-spacing: 1px;
                        @include dropshadow-web;
                    }
                    p {
                        padding: .25rem;
                        font-size: 0.9rem;
                        letter-spacing: -.5px;
                        color: rgba(190, 190, 190, 0.8);
                        text-align: end;
                    }
                }
            }
            #form {
                color: white;
                form {
                    width: 40vw;
                    margin: 0 auto;
                    display: grid;
                    gap: 1rem;
                    text-align: center;
                    label {
                        font-size: 1rem;
                    }
                    input {
                        padding: 0 .25rem;
                        height: 2rem;
                        @include dropshadow2;
                        border-radius: .5rem;
                        font-family: $quicksand;
                    }
                    #i-1 {
                        grid-column: 1;
                        grid-row: 1;
                        input {
                            width: 10rem;
                        }
                    }
                    #i-2 {
                        grid-column: 2 / span 2;
                        grid-row: 1;
                        input {
                            width: 14rem;
                        }
                    }
                    #i-3 {
                        grid-column: 1 / span 3;
                        grid-row: 2;
                        textarea {
                            width: 100%;
                            height: 24vh;
                            @include dropshadow2;
                            border-radius: .5rem;   
                            padding: 1rem; 
                            font-family: $spacemono;
                        }
                    }
                    #i-4 {
                        grid-column: 1 / span 3;
                        grid-row: 3;
                        button {
                            padding: .35rem 1.65rem;
                            background-color: rgb(99, 0, 160);
                            color: rgb(255, 255, 255);
                            font-size: 1.25rem;
                            letter-spacing: .5px;
                            border-radius: .5rem; 
                            border: none;  
                        }
                    }
                }
            }
    
        }
    }
}

@media only screen and (orientation: landscape) and (min-width: 1280px) {
    main {
        .first {
            #profile {
                #hayeong {
                    font-size: 4.5rem;
                }
            }
        }
        .third {
            .walltext {
                padding: 0;
            }
            #for-future-clients {
                padding-right: 2rem;
                gap: .5rem;
                #quote {
                    #content {
                        h4 {
                            font-size: 3.25rem;
                        }
                        p {
                            font-size: .75rem;
                        }
                    }
                }
                .mobile-only {
                    display: none;
                }
                #form {
                    form {
                        width: 42vw;
                        text-align: left;
                        label {
                            font-size: .9rem;
                        }
                        input {
                            height: 2.25rem;
                        }
                        #i-1 {
                            input {
                                width: 16vw;
                            }
                        }
                        #i-2 {
                            input {
                                width: 24vw;
                            }
                        }
                        #i-3 {
                            textarea {
                                font-size: 1rem;
                            }
                        }
                        #i-4 {
                            text-align: center;
                            button {
                                font-size: 1rem;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (orientation: landscape) and (width: 1024px) {
    main {
        .first {
            gap: 2rem;
            #profile {
                #hayeong {
                    font-size: 3.75rem;
                    line-height: 4rem;
                }
            }
            #description {
                .intro {
                    font-size: 1.1rem;
                }
                #skills {
                    width: 74vw;
                    padding: 1.5rem 0;
                    div {
                        font-size: .95rem;
                    }
                }
            }
        }
        .second {
            .walltext {
                h1 {
                    font-size: 2.75rem;
                    line-height: 3.25rem;
                }
            }
            #projects {
                .grid {
                    gap: .5rem;
                    .website {
                        source, img {
                            width: 24vw;
                        }
                        .webtitle {
                            font-size: 1rem;
                            span {
                                font-size: .75rem;
                                letter-spacing: .5px;
                            }
                        }
                    }
                }
            }
        }
        .third {
            .walltext {
                padding: 0;
                h1 {
                    font-size: 2.25rem;
                    line-height: 3rem;
                    #smooth {
                        line-height: 3rem;
                    }
                }
            }
            #for-future-clients {
                padding-right: 2rem;
                gap: .5rem;
                #quote {
                    #content {
                        h4 {
                            font-size: 2.75rem;
                        }
                        p {
                            font-size: .75rem;
                        }
                    }
                }
                .mobile-only {
                    display: none;
                }
                #form {
                    form {
                        width: 42vw;
                        text-align: left;
                        label {
                            font-size: .9rem;
                        }
                        input {
                            height: 2.25rem;
                        }
                        #i-1 {
                            input {
                                width: 16vw;
                            }
                        }
                        #i-2 {
                            input {
                                width: 24vw;
                            }
                        }
                        #i-3 {
                            textarea {
                                font-size: 1rem;
                            }
                        }
                        #i-4 {
                            text-align: center;
                            button {
                                font-size: 1rem;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (orientation: portrait) and (width: 1024px) {
    main {
        .first {
            gap: 3.25rem;
            #profile {
                #pic {
                    source, img {
                        width: 20vw;
                    }
                }
                #hayeong {
                    font-size: 4.75rem;
                    line-height: 4.5rem;
                }
            }
            #description {
                .intro {
                    font-size: 1.5rem;
                    line-height: 2.5rem;
                    padding-bottom: 2rem;
                }
                #skills {
                    width: 60vw;
                    gap: .5rem;
                    padding: 2.5rem 0;
                    div {
                        font-size: 1.25rem;
                    }
                }
            }
        }
        .second {
            #projects {
                .grid {
                    gap: 2.25rem;
                    .website {
                        .webtitle {
                            font-size: 1.5rem;
                        }
                    }
                }
            }
        }
        .third {
            #for-future-clients {
                #quote {
                    #content {
                        h4 {
                            font-size: 4.5rem;
                        }
                    }
                }
                #form {
                    form {
                        width: 68vw;
                        #i-1 {
                            input {
                                width: 60%;
                            }
                        }
                        #i-2 {
                            input {
                                width: 80%;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media only screen and (min-width: 768px) and (max-width: 912px) {
    main {
        .first {
            gap: 3.25rem;
            #profile {
                #pic {
                    source, img {
                        width: 20vw;
                    }
                }
                #hayeong {
                    font-size: 4.75rem;
                    line-height: 4.5rem;
                }
            }
            #description {
                .intro {
                    font-size: 1.25rem;
                    line-height: 2.25rem;
                    padding-bottom: 2rem;
                }
                #skills {
                    width: 60vw;
                    gap: .5rem;
                    padding: 2.5rem 0;
                    div {
                        font-size: 1.05rem;
                    }
                }
            }
        }
        .second {
            #projects {
                .grid {
                    gap: 2.25rem;
                    .website {
                        .webtitle {
                            font-size: 1.5rem;
                        }
                    }
                }
            }
        }
        .third {
            #for-future-clients {
                #quote {
                    #content {
                        h4 {
                            font-size: 3.5rem;
                        }
                    }
                }
                #form {
                    form {
                        width: 68vw;
                        #i-1 {
                            input {
                                width: 60%;
                            }
                        }
                        #i-2 {
                            input {
                                width: 80%;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media only screen and (width: 540px) {
    main {
        .first {
            gap: 2rem;
            #profile {
                gap: 1.5rem;
                #pic {
                    source, img {
                        width: 14vw;
                    }
                }
            }
            #description {
                .intro {
                    font-size: .85rem;
                    line-height: 1.5rem;
                }
                #skills {
                    width: 86vw;
                    gap: .25rem;
                    padding: 1.75rem 0;
                    div {
                        font-size: .8rem;
                    }
                }
                #nanum {
                    font-size: .8rem;
                }
            }
        }
        .second {
            #projects {
                .grid {
                    gap: 1.25rem;
                    .website {
                        source, img {
                            width: 36vw;
                        }
                        .webtitle {
                            font-size: 1rem;
                        }
                    }
                }
            }
        }
        .third {
            #for-future-clients {
                gap: 2rem;
                #quote {
                    .resize {
                        source, img {
                            width: 1.5rem;
                        }
                    }
                    #content {
                        h4 {
                            font-size: 2.75rem;
                        }
                        p {
                            font-size: .8rem;
                        }
                    }
                }
                #form {
                    form {
                        width: 60vw;
                        text-align: right;
                        #i-1 {
                            input {
                                width: 65%;
                            }
                        }
                        #i-2 {
                            input {
                                width: 80%;
                            }
                        }
                        #i-4 {
                            button {
                                font-size: .85rem;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media only screen and (min-width: 414px) and (max-width: 432px) {
    main {
        .first {
            gap: 2.25rem;
            #profile {
                gap: 2.25rem;
                #pic {
                    source, img {
                        width: 26vw;
                    }
                }
                #hayeong {
                    font-size: 3rem;
                    line-height: 3.25rem;
                }
            }
            #description {
                #skills {
                    width: 86vw;
                    gap: .25rem;
                    div {
                        font-size: .95rem;
                        border-width: 2px;
                    }
                    .mobile-only {
                        display: block;
                    }
                }
                #nanum {
                    display: none;
                }
            }
        }
        .second {
            #projects {
                .grid {
                    width: 84vw;
                    gap: 1rem;
                    .website {
                        source, img {
                            width: 40vw;
                        }
                        .webtitle {
                            font-size: 1.1rem;
                            letter-spacing: 0.25px;
                        }
                    }
                }
            }
        }
        .third {
            #for-future-clients {
                gap: 1rem;
                #form {
                    form {
                        gap: .75rem;
                        label {
                            font-size: .9rem;
                        }
                        input {
                            height: 1.75rem;
                        }
                        #i-1 {
                            input {
                                width: 56vw;
                            }
                        }
                        #i-2 {
                            input {
                                width: 65vw;
                            }
                        }
                        #i-3 {
                            textarea {
                                width: 80vw;
                            }
                        }
                        #i-4 {
                            button {
                                font-size: .9rem;
                            }
                        }
                    }
                }
            }
        }
    }

}
@media only screen and (min-width: 390px) and (max-width: 412px) {
    main {
        .first {
            gap: 2rem;
            #profile {
                gap: 2rem;
                #pic {
                    source, img {
                        width: 26vw;
                    }
                }
                #hayeong {
                    font-size: 2.75rem;
                    line-height: 2.75rem;
                }
            }
            #description {
                #skills {
                    width: 80vw;
                    gap: .25rem;
                    div {
                        font-size: .8rem;
                        padding: .2rem .55rem;
                    }
                }
            }
        }
        .second {
            #projects {
                .grid {
                    gap: 1.25rem;
                    .website {
                        img {
                            height: 14vh;
                        }
                        .webtitle {
                            font-size: 1rem;
                        }
                    }
                    #newshome, #previewcard {
                        display: block;
                    }
                }
            }
        }

    }
}
@media only screen and (min-width: 360px) and (max-width: 375px) {
    main {
        .first {
            gap: 2rem;
            #profile {
                gap: 2rem;
                #pic {
                    source, img {
                        width: 24vw;
                    }
                }
                #hayeong {
                    font-size: 2.5rem;
                    line-height: 2.75rem;
                }
            }
            #description {
                #skills {
                    gap: .25rem;
                    width: 80vw;
                    div {
                        font-size: .75rem;
                        padding: .15rem .5rem;
                    }
                }
            }
        }
        .second {
            #projects {
                .grid {
                    gap: 1rem;
                    .website {
                        .webtitle {
                            font-size: 1rem;
                        }
                    }
                    #newshome, #previewcard {
                        display: none;
                    }
                }
            }
        }
        .third {
            #for-future-clients {
                #form {
                    form {
                        #i-4 {
                            button {
                                font-size: 1rem;
                                padding: .25rem 1.5rem;
                            }
                        }
                    }        
                }
            }
        }
    }
}
@media only screen and (orientation: portrait) {
    .walltext {
        display: none;
    }
    header {
        #links {
            display: none;
        }
    }
    main {
        .first {
            #profile {
                flex-direction: column-reverse;
                align-items: center;
                #hayeong {
                    text-align: center;
                }
            }
            #description {
                #skills {
                    padding: 0;
                    margin: 0 auto;
                    .mobile-only {
                        display: block;
                    }
                }
                #nanum {
                    display: none;
                }
            }
        }
        .second {
            padding-left: 0;
            #projects {
                .grid {
                    padding: .75rem;
                    .website {
                        source, img {
                            width: 40vw;
                        }
                        .webtitle {
                            width: fit-content;
                            padding-right: 0;
                            span {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
        .third {
            #for-future-clients {
                #form {
                    form {
                        text-align: left;
                        width: 80vw;
                        div {
                            display: flex;
                            justify-content: space-between;
                            label {
                                padding-left: .5rem;
                            }
                        }
                        #i-1 {
                            grid-column: 1 / span 2;
                            input {
                                width: 11.5rem;
                            }
                        }
                        #i-2 {
                            grid-row: 2;
                            grid-column: 1 / span 2;
                        }
                        #i-3 {
                            grid-row: 3;
                            grid-column: 1 / span 2;
                        }
                        #i-4 {
                            grid-row: 4;
                            grid-column: 1 / span 2;
                            width: fit-content;
                            margin: 0 auto;
                            button {
                                font-size: .75rem;
                            }
                        }
                    }
                }
            }
            #contact-info {
                display: flex;
                justify-content: center;
                ul {
                    display: flex;
                    flex-direction: row;
                    gap: 1rem;
                    img {
                        width: 40px;
                    }
                }
            }
        }
    }
}