@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@200;300;400;600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Phudu:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Square+Peg&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@100;200;300;400;500;600;700;800;900&family=Livvic:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@200;300;400;600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Phudu:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Square+Peg&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@100;200;300;400;500;600;700;800;900&family=Livvic:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100%;
}

body {
  font-family: "Space Mono", monospace;
}

main {
  background-image: linear-gradient(225deg, black, rgb(0, 31, 36), rgb(44, 0, 57));
  height: 300vh;
}

.section {
  scroll-snap-align: center;
  height: 100vh;
  width: 100vw;
  z-index: 0;
}

.walltext h1 {
  font-family: "Urbanist", sans-serif;
  font-size: 3.5rem;
  background-image: linear-gradient(135deg, rgba(135, 135, 135, 0.001), rgba(255, 255, 255, 0.55), rgba(255, 255, 255, 0.05));
  -webkit-background-clip: text;
  color: transparent;
  padding: 0 0.25rem;
}

.flex {
  display: flex;
}

.row {
  flex-direction: row;
}

.col {
  flex-direction: column;
}

.a-c-center {
  flex-wrap: wrap;
  height: inherit;
  align-content: center;
}

.center {
  justify-content: center;
  align-items: center;
}

.j-c-center {
  justify-content: center;
}

.p-relative {
  position: relative;
}

.p-absolute {
  position: absolute;
}

.grid {
  display: grid;
}

.noStyle, a {
  text-decoration: none;
  list-style: none;
  color: black;
}
.noStyle:visited, a:visited {
  text-decoration: none;
}

.t-a-center {
  text-align: center;
}

.lineheight {
  line-height: 2.5;
}

@media only screen and (min-width: 360px) and (max-width: 430px) {
  #webdev, #quote {
    display: none;
  }
}
header #links {
  position: fixed;
  right: 2.5vw;
  margin-top: 5vh;
  top: 50%;
  transform: translateY(-50%);
  width: -moz-fit-content;
  width: fit-content;
  z-index: 1;
}
header #links ul {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 2rem;
  filter: drop-shadow(0 0 2px rgba(255, 255, 255, 0.8));
  padding: 1rem 0;
}
header #links ul img {
  position: relative;
  width: 1.5rem;
  height: auto;
  margin: 0.75rem;
  filter: drop-shadow(1.5px 1.5px 0 rgb(113, 113, 113));
  bottom: 0;
  left: 0;
  transition: ease-out 0.4s;
}
header #links ul img:active {
  filter: drop-shadow(-1.5px -1.5px 0 rgb(255, 255, 255));
  filter: brightness(95%);
  bottom: -1.5px;
  left: 1.5px;
}

main .first {
  gap: 3rem;
}
main .first #profile {
  gap: 3rem;
  align-items: center;
}
main .first #profile #pic {
  z-index: 2;
}
main .first #profile #pic source, main .first #profile #pic img {
  width: 10vw;
  height: auto;
  border-radius: 50%;
  filter: drop-shadow(0 0 12px rgba(218, 255, 251, 0.75));
}
main .first #profile #hayeong {
  font-family: "Square Peg", cursive;
  font-size: 4.75rem;
  font-weight: 700;
  line-height: 5rem;
  background-image: linear-gradient(15deg, hsla(174, 100%, 85%, 0.25), hsla(174, 100%, 85%, 0.65), hsla(174, 100%, 85%, 0.25));
  -webkit-background-clip: text;
  color: transparent;
  padding: 0 0.25rem;
  filter: drop-shadow(0 0 1px rgb(98, 255, 255));
}
main .first #description .intro {
  color: rgba(255, 255, 255, 0.8);
  font-size: 1.35rem;
  line-height: 2.25rem;
  text-align: center;
}
main .first #description #skills {
  gap: 0.5rem;
  padding: 2rem 0 1rem 0;
  flex-wrap: wrap;
  justify-content: center;
  width: 54vw;
}
main .first #description #skills div {
  padding: 0.25rem 0.75rem;
  background-color: rgba(0, 0, 0, 0.5);
  border: 3px solid rgba(0, 160, 160, 0.8);
  border-radius: 25px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 1rem;
  letter-spacing: 0.5px;
}
main .first #description #skills .mobile-only {
  display: none;
}
main .first #description #highlight {
  letter-spacing: 1px;
  font-weight: 600;
  background-image: linear-gradient(15deg, rgba(32, 255, 233, 0.6), rgba(174, 34, 255, 0.6));
  -webkit-background-clip: text;
  color: transparent;
  padding: 0 0.25rem;
  filter: drop-shadow(0 0 3px rgb(0, 0, 0));
}
main .first #description #nanum {
  color: rgba(195, 195, 195, 0.8);
  font-family: "Nanum Gothic", sans-serif;
  letter-spacing: 0.5px;
  font-size: 1rem;
}
main .second #projects {
  z-index: 1;
}
main .second #projects .grid {
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  gap: 2vw;
  justify-content: center;
}
main .second #projects .grid .website {
  position: relative;
  filter: drop-shadow(0 0 6px rgba(119, 255, 235, 0.8));
}
main .second #projects .grid .website source, main .second #projects .grid .website img {
  filter: brightness(35%);
  width: 100%;
  height: 20vh;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.3s linear;
}
main .second #projects .grid .website .webtitle {
  text-decoration: none;
  list-style: none;
  color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  color: white;
  font-size: 1.35rem;
  letter-spacing: 2.5px;
  transition: 0.3s linear;
}
main .second #projects .grid .website .webtitle:visited {
  text-decoration: none;
}
main .second #projects .grid .website .webtitle span {
  font-size: 0.95rem;
}
main .second #projects .grid .website:hover source, main .second #projects .grid .website:hover img {
  filter: brightness(100%);
}
main .second #projects .grid .website:hover .webtitle {
  color: transparent;
}
main .second #projects .grid #nextclient {
  position: relative;
  width: 100%;
  height: 20vh;
  filter: drop-shadow(0 0 6px rgba(119, 255, 235, 0.8));
  background-color: black;
  transition: 0.3s linear;
}
main .second #projects .grid #nextclient .title {
  text-decoration: none;
  list-style: none;
  color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  color: white;
  font-weight: 600;
  font-size: 1.3rem;
  letter-spacing: 2.75px;
}
main .second #projects .grid #nextclient .title:visited {
  text-decoration: none;
}
main .second #projects .grid #nextclient .title span {
  font-size: 0.95rem;
}
main .second #projects .grid #nextclient #hover {
  display: none;
}
main .second #projects .grid #nextclient #default {
  display: block;
}
main .second #projects .grid #nextclient:hover {
  cursor: pointer;
  background-color: rgb(222, 222, 222);
}
main .second #projects .grid #nextclient:hover #hover {
  display: block;
  color: black;
}
main .second #projects .grid #nextclient:hover #hover span {
  color: rgb(174, 34, 255);
}
main .second #projects .grid #nextclient:hover #default {
  display: none;
}
main .third .walltext {
  padding-left: 2rem;
}
main .third .walltext h1 {
  font-size: 3rem;
  line-height: 4rem;
}
main .third .walltext h1 #smooth {
  font-family: "Square Peg", cursive;
  font-size: 3.5rem;
  line-height: 4rem;
}
main .third #for-future-clients {
  gap: 3rem;
}
main .third #for-future-clients #quote {
  padding: 0;
  justify-content: center;
  z-index: 2;
}
main .third #for-future-clients #quote .resize source, main .third #for-future-clients #quote .resize img {
  width: 2.25rem;
  height: auto;
}
main .third #for-future-clients #quote #opening {
  padding-top: 10px;
  filter: drop-shadow(0 0 6px rgb(180, 119, 255));
}
main .third #for-future-clients #quote #closing {
  padding-bottom: 10px;
  align-self: flex-end;
  filter: drop-shadow(0 0 6px rgb(180, 119, 255));
}
main .third #for-future-clients #quote #content {
  align-self: center;
  padding: 2rem 0.5rem;
}
main .third #for-future-clients #quote #content h4 {
  font-size: 4.25rem;
  font-family: "Square Peg", cursive;
  color: rgba(255, 255, 255, 0.9);
  letter-spacing: 1px;
  filter: drop-shadow(0 0 6px rgba(119, 255, 235, 0.8));
}
main .third #for-future-clients #quote #content p {
  padding: 0.25rem;
  font-size: 0.9rem;
  letter-spacing: -0.5px;
  color: rgba(190, 190, 190, 0.8);
  text-align: end;
}
main .third #for-future-clients #form {
  color: white;
}
main .third #for-future-clients #form form {
  width: 40vw;
  margin: 0 auto;
  display: grid;
  gap: 1rem;
  text-align: center;
}
main .third #for-future-clients #form form label {
  font-size: 1rem;
}
main .third #for-future-clients #form form input {
  padding: 0 0.25rem;
  height: 2rem;
  filter: drop-shadow(0 0 6px rgb(180, 119, 255));
  border-radius: 0.5rem;
  font-family: "Quicksand", sans-serif;
}
main .third #for-future-clients #form form #i-1 {
  grid-column: 1;
  grid-row: 1;
}
main .third #for-future-clients #form form #i-1 input {
  width: 10rem;
}
main .third #for-future-clients #form form #i-2 {
  grid-column: 2/span 2;
  grid-row: 1;
}
main .third #for-future-clients #form form #i-2 input {
  width: 14rem;
}
main .third #for-future-clients #form form #i-3 {
  grid-column: 1/span 3;
  grid-row: 2;
}
main .third #for-future-clients #form form #i-3 textarea {
  width: 100%;
  height: 24vh;
  filter: drop-shadow(0 0 6px rgb(180, 119, 255));
  border-radius: 0.5rem;
  padding: 1rem;
  font-family: "Space Mono", monospace;
}
main .third #for-future-clients #form form #i-4 {
  grid-column: 1/span 3;
  grid-row: 3;
}
main .third #for-future-clients #form form #i-4 button {
  padding: 0.35rem 1.65rem;
  background-color: rgb(75, 0, 122);
  color: rgb(255, 255, 255);
  font-size: 1.25rem;
  letter-spacing: 0.5px;
  border-radius: 0.5rem;
}

@media only screen and (orientation: portrait) {
  .walltext {
    display: none;
  }
  header #links {
    right: auto;
    top: auto;
    bottom: 2vh;
    left: 50%;
    transform: translateX(-50%) translateY(0);
    z-index: 5;
    margin: 0;
  }
  header #links ul {
    padding: 0.125rem 0.75rem 0 0.75rem;
  }
  header #links ul li {
    display: inline-block;
  }
  header #links ul li img {
    width: 20px;
    margin: 0.25rem 0.5rem;
  }
  main .first #description #skills {
    padding: 0;
    margin: 0 auto;
  }
  main .second {
    padding-left: 0.5rem;
  }
  main .second #projects .grid .website source, main .second #projects .grid .website img {
    width: 40vw;
  }
  main .second #projects .grid .website .webtitle {
    width: -moz-fit-content;
    width: fit-content;
    padding-right: 0.5rem;
  }
  main .second #projects .grid .website .webtitle span {
    display: none;
  }
  main .third #for-future-clients #form form {
    width: -moz-fit-content;
    width: fit-content;
    text-align: left;
  }
  main .third #for-future-clients #form form #i-1 {
    grid-column: 1/span 2;
  }
  main .third #for-future-clients #form form #i-2 {
    grid-row: 2;
    grid-column: 1/span 2;
  }
  main .third #for-future-clients #form form #i-3 {
    grid-row: 3;
    grid-column: 1/span 2;
  }
  main .third #for-future-clients #form form #i-4 {
    grid-row: 4;
    grid-column: 1/span 2;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
  }
}
@media only screen and (min-width: 390px) {
  main .first #profile #hayeong {
    font-size: 2.75rem;
    line-height: 3rem;
  }
}
@media only screen and (max-width: 430px) {
  main .first {
    gap: 1.75rem;
  }
  main .first #profile {
    gap: 2rem;
    flex-direction: column-reverse;
    align-items: center;
  }
  main .first #profile #pic source, main .first #profile #pic img {
    width: 24vw;
  }
  main .first #profile #hayeong {
    font-size: 2.5rem;
    line-height: 2.75rem;
    text-align: center;
  }
  main .first #description #skills {
    width: 86vw;
    gap: 0.25rem;
  }
  main .first #description #skills div {
    font-size: 0.8rem;
    border-width: 2px;
  }
  main .first #description #skills .mobile-only {
    display: block;
  }
  main .first #description #nanum {
    display: none;
  }
  main .second #projects .grid {
    width: 86vw;
    gap: 0.5rem;
  }
  main .second #projects .grid .website source, main .second #projects .grid .website img {
    width: 40vw;
  }
  main .second #projects .grid .website .webtitle {
    font-size: 0.9rem;
    letter-spacing: 0.5px;
  }
  main .second #projects .grid #previewcard, main .second #projects .grid #nextclient {
    display: none;
  }
  main .third #for-future-clients {
    gap: 1rem;
  }
  main .third #for-future-clients #form form {
    gap: 0.75rem;
  }
  main .third #for-future-clients #form form label {
    font-size: 0.9rem;
  }
  main .third #for-future-clients #form form input {
    height: 1.75rem;
  }
  main .third #for-future-clients #form form #i-1 input {
    width: 56vw;
  }
  main .third #for-future-clients #form form #i-2 input {
    width: 65vw;
  }
  main .third #for-future-clients #form form #i-3 textarea {
    width: 80vw;
  }
  main .third #for-future-clients #form form #i-4 button {
    font-size: 0.9rem;
  }
}
@media only screen and (min-width: 540px) and (max-width: 1024px) {
  main .first {
    gap: 2rem;
  }
  main .first #profile {
    gap: 1.5rem;
  }
  main .first #profile #pic source, main .first #profile #pic img {
    width: 14vw;
  }
  main .first #description .intro {
    font-size: 0.85rem;
    line-height: 1.5rem;
  }
  main .first #description #skills {
    width: 86vw;
    gap: 0.25rem;
    padding: 1.75rem 0;
  }
  main .first #description #skills div {
    font-size: 0.8rem;
  }
  main .first #description #nanum {
    font-size: 0.8rem;
  }
  main .second #projects .grid {
    gap: 1.25rem;
  }
  main .second #projects .grid .website source, main .second #projects .grid .website img {
    width: 36vw;
  }
  main .second #projects .grid .website .webtitle {
    font-size: 1rem;
  }
  main .second #projects .grid #nextclient .title {
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 1.5px;
  }
  main .second #projects .grid #nextclient .title span {
    display: none;
  }
  main .third #for-future-clients {
    gap: 2rem;
  }
  main .third #for-future-clients #quote .resize source, main .third #for-future-clients #quote .resize img {
    width: 1.5rem;
  }
  main .third #for-future-clients #quote #content h4 {
    font-size: 2.75rem;
  }
  main .third #for-future-clients #quote #content p {
    font-size: 0.8rem;
  }
  main .third #for-future-clients #form form {
    width: 60vw;
    text-align: right;
  }
  main .third #for-future-clients #form form #i-1 input {
    width: 65%;
  }
  main .third #for-future-clients #form form #i-2 input {
    width: 80%;
  }
  main .third #for-future-clients #form form #i-4 button {
    font-size: 0.85rem;
  }
}
@media only screen and (min-width: 768px) {
  main .first {
    gap: 3.25rem;
  }
  main .first #profile #hayeong {
    font-size: 3.5rem;
    line-height: 3.75rem;
  }
  main .first #description .intro {
    font-size: 1.15rem;
    line-height: 2rem;
  }
  main .first #description #skills {
    width: 60vw;
    gap: 0.5rem;
    padding: 2.5rem 0;
  }
  main .first #description #skills div {
    font-size: 1rem;
  }
  main .second #projects .grid .website .webtitle {
    font-size: 1.15rem;
  }
  main .second #projects .grid #nextclient .title {
    font-size: 1.15rem;
  }
  main .third #for-future-clients #quote #content h4 {
    font-size: 3.5rem;
  }
  main .third #for-future-clients #form form #i-1 input {
    width: 72%;
  }
}
@media only screen and (min-width: 912px) {
  main .first #profile #hayeong {
    font-size: 4.5rem;
    line-height: 4.75rem;
  }
  main .first #description .intro {
    font-size: 1.25rem;
    line-height: 2.25rem;
  }
  main .first #description #skills {
    width: 48vw;
  }
  main .first #description #skills div {
    font-size: 1.15rem;
  }
  main .second #projects .grid .website .webtitle {
    font-size: 1.25rem;
  }
  main .second #projects .grid #nextclient .title {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
  main .third #for-future-clients #quote #content h4 {
    font-size: 4.25rem;
  }
  main .third #for-future-clients #quote #content p {
    font-size: 1rem;
  }
  main .third #for-future-clients #form form label {
    font-size: 1.25rem;
  }
  main .third #for-future-clients #form form input {
    height: 2.75rem;
  }
  main .third #for-future-clients #form form #i-1 input {
    width: 72%;
  }
  main .third #for-future-clients #form form #i-3 textarea {
    font-size: 1.25rem;
  }
  main .third #for-future-clients #form form #i-4 button {
    font-size: 1.25rem;
  }
}
@media only screen and (orientation: landscape) and (width: 1024px) {
  main .first {
    gap: 2rem;
  }
  main .first #profile #hayeong {
    font-size: 3.5rem;
  }
  main .first #description .intro {
    font-size: 1.1rem;
  }
  main .first #description #skills {
    width: 74vw;
    padding: 1.5rem 0;
  }
  main .first #description #skills div {
    font-size: 1rem;
  }
  main .second .walltext h1 {
    font-size: 2.75rem;
    line-height: 3.25rem;
  }
  main .second #projects .grid {
    gap: 0.5rem;
  }
  main .second #projects .grid .website source, main .second #projects .grid .website img {
    width: 24vw;
  }
  main .second #projects .grid .website .webtitle {
    font-size: 1rem;
  }
  main .second #projects .grid .website .webtitle span {
    font-size: 0.75rem;
    letter-spacing: 0.5px;
  }
  main .second #projects .grid #nextclient .title {
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 1.5px;
  }
  main .second #projects .grid #nextclient .title span {
    display: none;
  }
  main .third .walltext {
    padding: 0;
  }
  main .third .walltext h1 {
    font-size: 2.25rem;
    line-height: 3rem;
  }
  main .third .walltext h1 #smooth {
    line-height: 3rem;
  }
  main .third #for-future-clients {
    padding-right: 2rem;
    gap: 0.5rem;
  }
  main .third #for-future-clients #quote #content h4 {
    font-size: 2.75rem;
  }
  main .third #for-future-clients #quote #content p {
    font-size: 0.75rem;
  }
  main .third #for-future-clients #form form {
    width: 42vw;
    text-align: left;
  }
  main .third #for-future-clients #form form label {
    font-size: 0.9rem;
  }
  main .third #for-future-clients #form form input {
    height: 2.25rem;
  }
  main .third #for-future-clients #form form #i-1 input {
    width: 16vw;
  }
  main .third #for-future-clients #form form #i-2 input {
    width: 24vw;
  }
  main .third #for-future-clients #form form #i-3 textarea {
    font-size: 1rem;
  }
  main .third #for-future-clients #form form #i-4 {
    text-align: center;
  }
  main .third #for-future-clients #form form #i-4 button {
    font-size: 1rem;
  }
}
@media only screen and (orientation: landscape) and (width: 1280px) {
  main .third .walltext {
    padding: 0;
  }
  main .third #for-future-clients {
    padding-right: 2rem;
    gap: 0.5rem;
  }
  main .third #for-future-clients #quote #content h4 {
    font-size: 3.25rem;
  }
  main .third #for-future-clients #quote #content p {
    font-size: 0.75rem;
  }
  main .third #for-future-clients #form form {
    width: 42vw;
    text-align: left;
  }
  main .third #for-future-clients #form form label {
    font-size: 0.9rem;
  }
  main .third #for-future-clients #form form input {
    height: 2.25rem;
  }
  main .third #for-future-clients #form form #i-1 input {
    width: 16vw;
  }
  main .third #for-future-clients #form form #i-2 input {
    width: 24vw;
  }
  main .third #for-future-clients #form form #i-3 textarea {
    font-size: 1rem;
  }
  main .third #for-future-clients #form form #i-4 {
    text-align: center;
  }
  main .third #for-future-clients #form form #i-4 button {
    font-size: 1rem;
  }
}/*# sourceMappingURL=style.css.map */