@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;500;600;700&family=Montserrat:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Nothing+You+Could+Do&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chilanka&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chilanka&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alef&display=swap");
@import url("https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@200;300;400;600;800&display=swap");
/*
.colorPalette-2 {
    $backgroundColor: #2D1394;
    $ballColor: #7654FF;
    $bigIntroColor: #E0CE34;
    $smallIntroColor: #B528E0;
}
*/
@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;500;600;700&family=Montserrat:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Nothing+You+Could+Do&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chilanka&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chilanka&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alef&display=swap");
@import url("https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@200;300;400;600;800&display=swap");
#x {
  -webkit-animation: x 8s linear infinite alternate;
          animation: x 8s linear infinite alternate;
}

#y {
  -webkit-animation: y 3s linear infinite alternate;
          animation: y 3s linear infinite alternate;
}

@-webkit-keyframes x {
  100% {
    -webkit-transform: translateX(calc(100vw - 400px));
            transform: translateX(calc(100vw - 400px));
  }
}

@keyframes x {
  100% {
    -webkit-transform: translateX(calc(100vw - 400px));
            transform: translateX(calc(100vw - 400px));
  }
}

@-webkit-keyframes y {
  100% {
    -webkit-transform: translateY(calc(100vh - 400px));
            transform: translateY(calc(100vh - 400px));
  }
}

@keyframes y {
  100% {
    -webkit-transform: translateY(calc(100vh - 400px));
            transform: translateY(calc(100vh - 400px));
  }
}

#x-2 {
  -webkit-animation: x-2 9s linear infinite alternate;
          animation: x-2 9s linear infinite alternate;
}

#y-2 {
  -webkit-animation: y-2 6.5s linear infinite alternate;
          animation: y-2 6.5s linear infinite alternate;
}

@-webkit-keyframes x-2 {
  100% {
    -webkit-transform: translateX(calc(100vw - 200px));
            transform: translateX(calc(100vw - 200px));
  }
}

@keyframes x-2 {
  100% {
    -webkit-transform: translateX(calc(100vw - 200px));
            transform: translateX(calc(100vw - 200px));
  }
}

@-webkit-keyframes y-2 {
  100% {
    -webkit-transform: translateY(calc(100vh - 200px));
            transform: translateY(calc(100vh - 200px));
  }
}

@keyframes y-2 {
  100% {
    -webkit-transform: translateY(calc(100vh - 200px));
            transform: translateY(calc(100vh - 200px));
  }
}

@-webkit-keyframes slide {
  0% {
    -webkit-transform: translateX(-25%);
            transform: translateX(-25%);
  }
  100% {
    -webkit-transform: translateX(25%);
            transform: translateX(25%);
  }
}

@keyframes slide {
  0% {
    -webkit-transform: translateX(-25%);
            transform: translateX(-25%);
  }
  100% {
    -webkit-transform: translateX(25%);
            transform: translateX(25%);
  }
}

/*
#clear {
    color: rgb(0, 184, 156);
    transition-delay: 1s; 
    transition: 1s ease in;
    animation: txtFlyIn 2s linear;
}
#color {
    color: rgb(0, 135, 115);
    transition-delay: 3s; 
    transition: 1.2s ease in;
    animation: txtFlyIn 3s linear;      
}
#responsive {
    color: rgb(0, 59, 50);
    transition-delay: 5s; 
    transition: 1.4s ease in;
    animation: txtFlyIn 4s linear;      
}
@keyframes txtFlyIn {
    0% { 
        transform: translateX(-150%); 
    }
    100% { 
        transform: translateX(0%); 
    }
}
*/
/*
.colorPalette-2 {
    $backgroundColor: #2D1394;
    $ballColor: #7654FF;
    $bigIntroColor: #E0CE34;
    $smallIntroColor: #B528E0;
}
*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
  overflow-x: hidden;
  overflow-y: scroll;
}

.first, .second, .third {
  scroll-snap-align: center;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-dir-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.flex-dir-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.a-c-center {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: inherit;
  -ms-flex-line-pack: center;
      align-content: center;
}

.center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.j-c-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.p-relative {
  position: relative;
}

.p-absolute {
  position: absolute;
}

.grid {
  display: -ms-grid;
  display: grid;
}

.noStyle, a {
  text-decoration: none;
  list-style: none;
  color: black;
}

.noStyle:visited, a:visited {
  text-decoration: none;
}

.t-a-center {
  text-align: center;
}

.lineheight {
  line-height: 2.5;
}

body #gradientBg {
  -webkit-animation: slide 4.5s ease-in-out infinite alternate;
          animation: slide 4.5s ease-in-out infinite alternate;
  background-image: linear-gradient(60deg, #f1baff, #fff5cf, #adfff7);
  bottom: -300vh;
  top: 0;
  position: absolute;
  left: -50%;
  right: -50%;
  z-index: -1;
  opacity: 0.85;
}

header #menu {
  z-index: 5;
  position: fixed;
}

header #menu ul {
  background-color: rgba(209, 255, 248, 0.45);
  width: 100vw;
  height: 8vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header #menu ul li {
  padding: 0 8rem;
}

header #menu ul li a {
  color: #00715e;
  font-family: "Chakra Petch", sans-serif;
  font-size: 1.5rem;
  letter-spacing: 2.5px;
  position: relative;
  top: 0;
  -webkit-transition: top ease-out .05s;
  transition: top ease-out .05s;
}

header #menu ul li a:hover {
  top: -4px;
}

header #links {
  position: fixed;
  left: calc(100vw - 6.5rem);
  bottom: calc((100vh - 192px)/2);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  z-index: 1;
}

header #links img {
  width: 1.75rem;
  margin: 0.75rem;
  -webkit-filter: drop-shadow(0 0 5.5px rgba(0, 51, 48, 0.9));
          filter: drop-shadow(0 0 5.5px rgba(0, 51, 48, 0.9));
}

main .first {
  height: 100vh;
  width: 100vw;
}

main .first #y {
  background-color: #FFFD95;
}

main .first h1 {
  color: #10E689;
}

main .first p {
  color: #F56CAD;
}

main .first #x #y {
  padding: 200px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 50%;
  position: fixed;
}

main .first #welcome {
  font-family: "Chakra Petch", sans-serif;
  position: absolute;
  left: 8vw;
  padding-top: 8vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 100%;
}

main .first #welcome h1 {
  line-height: 1.1;
  font-size: 5.25rem;
  font-weight: 400;
}

main .first #welcome p {
  font-size: 1.65rem;
  line-height: 3rem;
}

main .first #welcome p span {
  font-family: "East Sea Dokdo", cursive;
  font-size: 2.5rem;
  line-height: 3rem;
}

main .second {
  height: 100vh;
  width: 100vw;
  padding-top: 8vh;
}

main .second #second-1 {
  padding-right: 10vw;
}

main .second #second-1 #specialty {
  font-family: "Urbanist", sans-serif;
  font-weight: 600;
  font-size: 2.5rem;
}

main .second #second-1 #specialty p {
  padding: 1.25rem 0;
}

main .second #second-1 #specialty #clear {
  color: #00b89c;
}

main .second #second-1 #specialty #color {
  color: #00917b;
}

main .second #second-1 #specialty #responsive {
  color: #005649;
}

main .second #second-2 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 7.5vh 0;
}

main .second #second-2 .website {
  position: relative;
}

main .second #second-2 .website img {
  -webkit-filter: drop-shadow(5px 5px 0 rgba(0, 51, 42, 0.9));
          filter: drop-shadow(5px 5px 0 rgba(0, 51, 42, 0.9));
  border: 2px #004137 solid;
  width: 22vw;
  height: 16.5vh;
  -o-object-fit: cover;
     object-fit: cover;
}

main .second #second-2 .website .webtitle {
  text-decoration: none;
  list-style: none;
  color: black;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 2px;
  padding: 2.5rem 0;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  font-family: "Chakra Petch", sans-serif;
  color: #004644;
  font-weight: 600;
  font-size: 1.5rem;
  letter-spacing: 2.75px;
  width: calc(100% - 6px);
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-transition: .4s linear;
  transition: .4s linear;
}

main .second #second-2 .website .webtitle:visited {
  text-decoration: none;
}

main .second #second-2 .website .webtitle:hover {
  opacity: 0;
}

main .second #second-2 .website .oneline {
  padding: 3.5rem 0;
}

main .third {
  height: 100vh;
  width: 100vw;
  position: relative;
  font-family: "Chakra Petch", sans-serif;
  padding-top: 8vh;
}

main .third #pic {
  position: absolute;
  left: 0;
  bottom: 40vh;
  padding: 32px 32px 32px 80px;
  background-color: white;
  border-radius: 0 47.5% 47.5% 0;
}

main .third #pic #profilepic {
  width: 180px;
  border-radius: 50%;
}

main .third #third-1 p {
  color: #00221C;
  padding: 2rem 0;
  font-size: 1.75rem;
  font-weight: 500;
  letter-spacing: 1px;
}

main .third #third-1 p #break-1 {
  display: none;
}

main .third #third-1 p span {
  font-size: 2.25rem;
  font-family: "Caveat", cursive;
  font-weight: 500;
  background-image: linear-gradient(15deg, #00b89c, #ff56ab);
  -webkit-background-clip: text;
  color: transparent;
  padding: 0 0.25rem;
  font-family: "Caveat", cursive;
}

main .third #third-2 {
  padding: 2rem 0;
}

main .third #third-2 #quote {
  margin: 0 120px 0 300px;
}

main .third #third-2 #quote .resize img {
  width: 58px;
}

main .third #third-2 #quote #openingquote {
  padding-top: 10px;
  padding-left: 80px;
}

main .third #third-2 #quote #openingquote img {
  -webkit-filter: drop-shadow(0 0 4px rgba(0, 71, 57, 0.3));
          filter: drop-shadow(0 0 4px rgba(0, 71, 57, 0.3));
}

main .third #third-2 #quote #closingquote {
  padding-right: 80px;
  padding-bottom: 10px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

main .third #third-2 #quote #closingquote img {
  -webkit-filter: drop-shadow(0 0 4px rgba(0, 71, 57, 0.3));
          filter: drop-shadow(0 0 4px rgba(0, 71, 57, 0.3));
}

main .third #third-2 #quote #content {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 2rem 3rem;
  border-radius: 45px;
  font-family: "Alef", sans-serif;
}

main .third #third-2 #quote #content #content-1 {
  font-size: 1.35rem;
  line-height: 1.4;
  letter-spacing: 0.15px;
}

main .third #third-2 #quote #content #content-phone {
  display: none;
}

main .third #third-2 #quote #content #content-2 {
  font-weight: 700;
  font-size: 2.5rem;
  margin-top: 0.75rem;
  line-height: 1.25;
  letter-spacing: 0.8px;
  background-image: linear-gradient(15deg, #00b89c, #ff56ab);
  -webkit-background-clip: text;
  color: transparent;
  padding: 0 0.25rem;
  font-family: "Caveat", cursive;
}

main .third #third-2 #quote #content #content-3 {
  font-size: 0.85rem;
  letter-spacing: 0.25px;
  color: #7d7d7d;
  font-weight: 400;
}

main .third #third-3 {
  padding-top: 1.25rem;
}

main .third #third-3 #funfacts {
  text-align: center;
  padding-bottom: 1.25rem;
  font-family: 'Chelsea Market', cursive;
  font-size: 1.15rem;
}

main .third #third-3 #funfacts span {
  font-family: "Chakra Petch", sans-serif;
  font-size: 1.05rem;
}

main .third #third-3 .grid {
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  margin: 0 10rem 4rem;
  gap: 1.5rem;
}

main .third #third-3 .grid .facts {
  min-height: 8.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fcf6ee;
  border: 2px #003636 solid;
  -webkit-filter: drop-shadow(8px 8px 0 rgba(0, 54, 54, 0.4));
          filter: drop-shadow(8px 8px 0 rgba(0, 54, 54, 0.4));
}

main .third #third-3 .grid .facts p {
  width: 100%;
  padding: 0 20px;
  font-family: "Alef", sans-serif;
  font-size: 1rem;
  text-align: center;
  color: #00221C;
  letter-spacing: 0.25px;
}

@media only screen and (max-width: 1366px) {
  main .second #second-2 .website .webtitle {
    padding: 2rem 0;
  }
  main .second #second-2 .website .oneline {
    padding: 3rem 0;
  }
  main .third #third-2 {
    padding: 0;
  }
}

@media only screen and (max-width: 912px) {
  header #menu ul li {
    padding: 0 4rem;
  }
  header #menu ul li a {
    font-size: 1.75rem;
  }
  main .first #welcome h1 {
    font-size: 4.5rem;
  }
  main .second {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .second #second-1 {
    padding-right: 0;
    padding-bottom: 6rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .second #second-2 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0;
  }
  main .second #second-2 .website {
    padding: 1rem;
  }
  main .second #second-2 .website img {
    width: 36vw;
    height: 16vh;
  }
  main .second #second-2 .website .webtitle {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    padding: 2rem;
  }
  main .second #second-2 .website .oneline {
    padding: 3rem;
  }
  main .third {
    padding-top: 8vh;
  }
  main .third #pic {
    left: -3.5rem;
    bottom: 46vh;
  }
  main .third #third-1 {
    margin: 0;
  }
  main .third #third-1 p {
    text-align: center;
  }
  main .third #third-1 p #break-1 {
    display: block;
  }
  main .third #third-2 {
    padding: 2rem 0 6rem 0;
  }
  main .third #third-2 #quote {
    margin: 0 4.5rem 0 11rem;
  }
  main .third #third-2 #quote .resize img {
    width: 3rem;
  }
  main .third #third-2 #quote #openingquote {
    padding-top: 0;
    padding-right: 2rem;
  }
  main .third #third-2 #quote #closingquote {
    padding-left: 2rem;
    padding-bottom: 0;
  }
  main .third #third-2 #quote #content {
    padding: 0;
  }
  main .third #third-2 #quote #content #content-1, main .third #third-2 #quote #content #content-3 {
    display: none;
  }
  main .third #third-2 #quote #content #content-phone {
    display: block;
    font-size: 1.725rem;
  }
  main .third #third-2 #quote #content #content-2 {
    font-size: 2.25rem;
  }
  main .third #third-3 .grid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 786px) {
  main .third #pic {
    bottom: 54vh;
    padding: 1rem 1rem 1rem 5rem;
  }
  main .third #pic #profilepic {
    width: 8rem;
  }
  main .third #third-1 p {
    padding: 0;
  }
  main .third #third-2 {
    padding: 3rem 0 5rem 0;
  }
  main .third #third-2 #quote #openingquote, main .third #third-2 #quote #closingquote {
    display: none;
  }
  main .third #third-2 #quote #content #content-phone {
    font-size: 1.25rem;
  }
}

@media only screen and (max-width: 540px) {
  header #menu ul li {
    padding: 0 2.5rem;
  }
  header #menu ul li a {
    font-size: 1rem;
  }
  header #links {
    left: calc((100vw - 156px) / 2);
    bottom: 1rem;
  }
  header #links ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  main .first #x {
    display: none;
  }
  main .first #x-2 #y-2 {
    padding: 100px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    border-radius: 50%;
    position: fixed;
    background-color: #FFFD95;
  }
  main .first #welcome h1 {
    font-size: 2.5rem;
  }
  main .first #welcome p {
    font-size: 1.15rem;
    line-height: 2rem;
  }
  main .first #welcome p span {
    font-size: 1.75rem;
    line-height: 2rem;
  }
  main .second #second-1 {
    padding-bottom: 1.5rem;
  }
  main .second #second-1 #specialty {
    font-size: 1.65rem;
  }
  main .second #second-1 #specialty p {
    padding: .5rem 0;
  }
  main .second #second-2 .website {
    padding: .4rem;
  }
  main .second #second-2 .website img {
    width: 32vw;
  }
  main .second #second-2 .website .webtitle {
    font-size: 1rem;
    padding: 1rem;
  }
  main .second #second-2 .website .oneline {
    padding: 1.75rem;
  }
  main .third #pic {
    bottom: 50vh;
    border-radius: 0 3.5rem 3.5rem 0;
  }
  main .third #pic #profilepic {
    width: 5.25rem;
    padding: .15rem;
  }
  main .third #third-1 p {
    font-size: 1.15rem;
  }
  main .third #third-1 p span {
    font-size: 1.25rem;
  }
  main .third #third-2 {
    padding: 2rem 0;
  }
  main .third #third-2 #quote {
    margin: 0 6rem 0 8rem;
  }
  main .third #third-2 #quote #content #content-phone {
    font-size: .85rem;
  }
  main .third #third-2 #quote #content #content-2 {
    font-size: 1.25rem;
  }
  main .third #third-3 #funfacts {
    display: none;
  }
  main .third #third-3 .grid {
    margin: 0 3rem;
    gap: .75rem;
  }
  main .third #third-3 .grid .facts {
    min-height: -webkit-fit-content;
    min-height: -moz-fit-content;
    min-height: fit-content;
    -webkit-filter: none;
            filter: none;
  }
  main .third #third-3 .grid .facts p {
    font-size: .75rem;
    padding: 1rem;
  }
}

@media only screen and (max-width: 414px) {
  header #menu ul li {
    padding: 0 1.35rem;
  }
  header #menu ul li a {
    font-size: 1rem;
  }
  main .second #second-1 {
    padding-bottom: 5rem;
  }
  main .second #second-1 #specialty {
    font-size: 1.4rem;
  }
  main .second #second-2 .website {
    padding: .4rem;
  }
  main .second #second-2 .website img {
    width: 36vw;
  }
  main .second #second-2 .website .webtitle {
    font-size: 1rem;
    padding: 1rem;
  }
  main .second #second-2 .website .oneline {
    padding: 1.75rem 2rem;
  }
  main .third #pic {
    bottom: 52vh;
  }
  main .third #pic #profilepic {
    padding: .05rem;
  }
  main .third #third-1 p {
    font-size: .95rem;
    line-height: 2rem;
  }
  main .third #third-1 p span {
    font-size: 1.35rem;
  }
  main .third #third-2 #quote {
    margin: 0 1.5rem 0 8rem;
  }
}

@media only screen and (max-width: 375px) {
  header #menu ul li {
    padding: 0 1.15rem;
  }
  header #menu ul li a {
    font-size: .95rem;
  }
  main .first #welcome h1 {
    font-size: 2.75rem;
  }
  main .second #second-1 {
    padding-bottom: 3.5rem;
  }
  main .second #second-2 .website {
    padding: .4rem;
  }
  main .second #second-2 .website img {
    width: 36vw;
  }
  main .second #second-2 .website .webtitle {
    font-size: .75rem;
    padding: .75rem;
  }
  main .second #second-2 .website .oneline {
    padding: 1.25rem 1.5rem;
  }
  main .third #pic {
    bottom: 50vh;
  }
  main .third #pic #profilepic {
    width: 4.5rem;
    padding: .025rem;
  }
  main .third #third-1 p {
    font-size: .85rem;
    line-height: 1.1rem;
  }
  main .third #third-1 p span {
    font-size: 1.2rem;
  }
  main .third #third-2 #quote {
    margin: 0 1.5rem 0 8rem;
  }
  main .third #third-3 .grid {
    margin: 0 1rem;
  }
  main .third #third-3 .grid .facts p {
    font-size: .65rem;
    padding: .5rem;
  }
}
/*# sourceMappingURL=style.css.map */