@import './variables';
@import './animations';
@import './globals';

header {
    #menu {
        z-index: 5;
        position: fixed;

        ul {
            background-color: rgba(0, 18, 15, 0.75);
            width: 100vw;

            li {
                padding: 1rem 8rem;
                a {
                    color: #ffffff;
                    font-family: $chakra;
                    font-size: 1.1rem;
                    letter-spacing: 2.5px;

                    position: relative;
                    top: 0;
                    transition: top ease-out .05s;
                }
                a:hover {
                    top: -4px;
                }
            }
        }
    }

    #links {
        position: fixed;
        left: calc(100vw - 6.5rem);
        top: calc((100vh - 192px)/2);
        width: fit-content;
        z-index: 1;
    
        img {
            width: 1.75rem;
            margin: 0.75rem;

            filter: drop-shadow(0 0 5.5px rgba(0, 51, 48, 0.9));
        }    
    }
}
main {
    .first {
        height: 100vh;
        background-color: #FFFFE7;

        #x {
            #y {
                padding: 240px;
                width: fit-content;
                background-color: #FFFD95;
                border-radius: 50%;
                position: fixed;
            }
        }

        #intro {            
            font-family: $chakra;
            position: absolute;
            left: 8vw;
            top: calc((100vh - (5rem*1.1*2 + 10rem + 1.5rem*1.75*2)) / 2 + 1.5rem);

            h1 {
                line-height: 1.1;
                font-size: 5rem;
                font-weight: 400;
                color: #10E689;

                padding-bottom: 10rem;
            }

            p {
                color: #F56CAD;
                font-size: 1.5rem;
                line-height: 1.75;
                span {
                    font-family: $dokdo;
                    font-size: 2.25rem;
                    line-height: 0.75;
                }
            }
        }
    }
    .second {
        height: 100vh;
        background-color: #ffecf8;

        #second-1 {
            padding: 2.75rem 4rem 2.75rem 0;
            margin-left: 8rem;
            #specialty {
                font-family: $urbanist;
                font-weight: 600;
                font-size: 2.75rem;
                p {
                    padding: 1.25rem 0;
                }
                #clear {
                    color: rgb(0, 184, 156);
                }
                #color {
                    color: rgb(0, 135, 115);
                }
                #responsive {
                    color: rgb(0, 59, 50);
                }
                
            }
        }

        #second-2 {
            padding: 6rem 0;
            margin: 0 8rem 0 5rem;
    
            .website {
                @include portBg;
                margin: 1rem 0;
                filter: drop-shadow(7px -7px 0 rgba(0, 51, 42, 0.9));
    
                .overlay {
                    width: 100%;
                    height: 100%;
                    background-color: rgba(255, 255, 255, 0.9);
                    border: 2px rgb(0, 65, 55) solid;

                    p {
                        padding: 2.25rem 2.75rem;

                        text-decoration: none;
                        font-family: $chakra;
                        color: rgb(0, 70, 68);
                        font-weight: 600;
                        font-size: 1.25rem;
                        letter-spacing: 2.75px;
                    }
                }
            }
    
            .website:hover {
                cursor: pointer;
                .overlay {
                    opacity: 0;
                }
            }
            
            .tip {
                background-image: url(/images/splitter.png);
                margin-top: 4rem;
            }
            .news {
                background-image: url(/images/newshome.png);
            }
            .preview {
                background-image: url(/images/previewcard.png);
            }
            .landing {
                background-image: url(/images/sunnyside.png);
            }
            
        }
    
    }

    .third {
        position: relative;
        font-family: $chakra;

        #gradientBg {
            @include gradientBg;
        }
        #pic {
            position: absolute;
            left: 0;
            bottom: 40vh;

            padding: 32px 32px 32px 80px;
            background-color: white;
            border-radius: 0 47.5% 47.5% 0;
            
            #profilepic {
                width: 180px;
                border-radius: 50%;
            }
        }
        #third-1 {
            margin-top: 6rem;

            p {
                color: $darkCyan;
                padding: 2.5rem 0;
                font-size: 1.75rem;
                font-weight: 500;
                letter-spacing: 1px;
                span {
                    font-size: 2.25rem;
                    font-family: $caveat;
                    font-weight: 500;
                    @include fontGrad;
                }
            }
        }
        #third-2 {
            #quote {
                margin: 0 120px 0 300px;

                .resize {
                    img {
                        width: 58px;
                    }
                }
                #openingquote {
                    padding-top: 10px;
                    padding-left: 80px;
                    @include dropshadow;
                }
                #closingquote {
                    padding-right: 80px;
                    padding-bottom: 10px;
                    align-self: flex-end;
                    @include dropshadow;
                }
                #content {
                    align-self: center;
                    padding: 2rem 3rem;
                    border-radius: 45px;
                    font-family: $alef;

                    #content-1 {
                        font-size: 1.35rem;
                        line-height: 1.4;
                        letter-spacing: 0.15px;
                    }
                    #content-2 {
                        font-weight: 700;
                        font-size: 2.5rem;
                        margin-top: 0.75rem;
                        line-height: 1.25;
                        letter-spacing: 0.8px;
                        @include fontGrad;
                    }
                    #content-3 {
                        font-size: 0.85rem;
                        letter-spacing: 0.25px;
                        color: rgb(125, 125, 125);
                        font-weight: 400;
                    }
                }
            }
        }
        #third-3 {
            padding-top: 1.25rem;

            #funfacts {
                text-align: center;
                padding-bottom: 1.25rem;
                font-family: 'Chelsea Market', cursive;
                font-size: 1.15rem;
                span {
                    font-family: $chakra;
                    font-size: 1.05rem;
                }
            }
            .grid {
                grid-template-columns: repeat(4, 1fr);
                margin: 0 10rem 4rem;
                gap: 30px;

                .facts {
                    min-height: 160px;
                    display: flex;
                    align-items: center;
                    background-color: rgb(252, 246, 238);
                    border: 2px rgb(0, 54, 54) solid;
                    filter: drop-shadow(8px 8px 0 rgba(0, 54, 54, 0.4));

                    p {
                        width: 100%;
                        padding: 0 20px;
                        
                        font-family: $alef;
                        font-size: 1rem;
                        text-align: center;
                        color: $darkCyan;
                        letter-spacing: 0.25px;
                    }
                }
            }
        }
    }
    
}