@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;500;600;700&family=Montserrat:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Nothing+You+Could+Do&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chilanka&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chilanka&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alef&display=swap");
@import url("https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@200;300;400;600;800&display=swap");
/*
.colorPalette-2 {
    $backgroundColor: #2D1394;
    $ballColor: #7654FF;
    $bigIntroColor: #E0CE34;
    $smallIntroColor: #B528E0;
}
*/
@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;500;600;700&family=Montserrat:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Nothing+You+Could+Do&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chilanka&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chilanka&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alef&display=swap");
@import url("https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@200;300;400;600;800&display=swap");
#x {
  -webkit-animation: x 8s linear infinite alternate;
          animation: x 8s linear infinite alternate;
}

#y {
  -webkit-animation: y 3s linear infinite alternate;
          animation: y 3s linear infinite alternate;
}

@-webkit-keyframes x {
  100% {
    -webkit-transform: translateX(calc(100vw - 480px));
            transform: translateX(calc(100vw - 480px));
  }
}

@keyframes x {
  100% {
    -webkit-transform: translateX(calc(100vw - 480px));
            transform: translateX(calc(100vw - 480px));
  }
}

@-webkit-keyframes y {
  100% {
    -webkit-transform: translateY(calc(100vh - 480px));
            transform: translateY(calc(100vh - 480px));
  }
}

@keyframes y {
  100% {
    -webkit-transform: translateY(calc(100vh - 480px));
            transform: translateY(calc(100vh - 480px));
  }
}

@-webkit-keyframes slide {
  0% {
    -webkit-transform: translateX(-25%);
            transform: translateX(-25%);
  }
  100% {
    -webkit-transform: translateX(25%);
            transform: translateX(25%);
  }
}

@keyframes slide {
  0% {
    -webkit-transform: translateX(-25%);
            transform: translateX(-25%);
  }
  100% {
    -webkit-transform: translateX(25%);
            transform: translateX(25%);
  }
}

/*
#clear {
    color: rgb(0, 184, 156);
    transition-delay: 1s; 
    transition: 1s ease in;
    animation: txtFlyIn 2s linear;
}
#color {
    color: rgb(0, 135, 115);
    transition-delay: 3s; 
    transition: 1.2s ease in;
    animation: txtFlyIn 3s linear;      
}
#responsive {
    color: rgb(0, 59, 50);
    transition-delay: 5s; 
    transition: 1.4s ease in;
    animation: txtFlyIn 4s linear;      
}
@keyframes txtFlyIn {
    0% { 
        transform: translateX(-150%); 
    }
    100% { 
        transform: translateX(0%); 
    }
}
*/
/*
.colorPalette-2 {
    $backgroundColor: #2D1394;
    $ballColor: #7654FF;
    $bigIntroColor: #E0CE34;
    $smallIntroColor: #B528E0;
}
*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
  overflow-x: hidden;
  overflow-y: scroll;
}

.section {
  height: 100vh;
  width: 100vw;
  scroll-snap-align: center;
}

.flex-dir-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.flex-dir-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.a-c-center {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: inherit;
  -ms-flex-line-pack: center;
      align-content: center;
}

.center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.j-c-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.p-relative {
  position: relative;
}

.p-absolute {
  position: absolute;
}

.grid {
  display: -ms-grid;
  display: grid;
}

.noStyle, a {
  text-decoration: none;
  list-style: none;
  color: black;
}

.noStyle:visited, a:visited {
  text-decoration: none;
}

.t-a-center {
  text-align: center;
}

header #menu {
  z-index: 5;
  position: fixed;
}

header #menu ul {
  background-color: rgba(209, 255, 248, 0.45);
  width: 100vw;
}

header #menu ul li {
  padding: 1rem 8rem;
}

header #menu ul li a {
  color: #00715e;
  font-family: "Chakra Petch", sans-serif;
  font-size: 1.5rem;
  letter-spacing: 2.5px;
  position: relative;
  top: 0;
  -webkit-transition: top ease-out .05s;
  transition: top ease-out .05s;
}

header #menu ul li a:hover {
  top: -4px;
}

header #links {
  position: fixed;
  left: calc(100vw - 6.5rem);
  top: calc((100vh - 192px)/2);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  z-index: 1;
}

header #links img {
  width: 1.75rem;
  margin: 0.75rem;
  -webkit-filter: drop-shadow(0 0 5.5px rgba(0, 51, 48, 0.9));
          filter: drop-shadow(0 0 5.5px rgba(0, 51, 48, 0.9));
}

main .first {
  height: 100vh;
  background-color: #ffffe9;
}

main .first #y {
  background-color: #FFFD95;
}

main .first h1 {
  color: #10E689;
}

main .first p {
  color: #F56CAD;
}

main .first #x #y {
  padding: 240px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 50%;
  position: fixed;
}

main .first #welcome {
  font-family: "Chakra Petch", sans-serif;
  position: absolute;
  left: 8vw;
  top: calc((100vh - (5rem*1.1*2 + 10rem + 1.5rem*1.75*2)) / 2 + 1.5rem);
}

main .first #welcome h1 {
  line-height: 1.1;
  font-size: 6rem;
  font-weight: 400;
  padding-bottom: 10rem;
}

main .first #welcome p {
  font-size: 1.75rem;
  line-height: 1.75;
}

main .first #welcome p span {
  font-family: "East Sea Dokdo", cursive;
  font-size: 2.5rem;
  line-height: 0.75;
}

main .second {
  height: 100vh;
  background-color: #ffecf8;
}

main .second #second-1 {
  padding: 2.75rem 4rem 2.75rem 0;
  margin-left: 8rem;
}

main .second #second-1 #specialty {
  font-family: "Urbanist", sans-serif;
  font-weight: 600;
  font-size: 3rem;
}

main .second #second-1 #specialty p {
  padding: 1.25rem 0;
}

main .second #second-1 #specialty #clear {
  color: #00b89c;
}

main .second #second-1 #specialty #color {
  color: #008773;
}

main .second #second-1 #specialty #responsive {
  color: #003b32;
}

main .second #second-2 {
  padding: 6rem 0;
  margin: 0 8rem 0 5rem;
}

main .second #second-2 .website {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  margin: 1rem 0;
  -webkit-filter: drop-shadow(7px -7px 0 rgba(0, 51, 42, 0.9));
          filter: drop-shadow(7px -7px 0 rgba(0, 51, 42, 0.9));
}

main .second #second-2 .website .overlay {
  opacity: 1;
  -webkit-transition: opacity ease-out .6s;
  transition: opacity ease-out .6s;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  border: 2px #004137 solid;
}

main .second #second-2 .website .overlay p {
  padding: 3rem 3.5rem;
  text-decoration: none;
  font-family: "Chakra Petch", sans-serif;
  color: #004644;
  font-weight: 600;
  font-size: 1.5rem;
  letter-spacing: 2.75px;
}

main .second #second-2 .website .overlay:hover {
  opacity: 0;
}

main .second #second-2 .tip {
  background-image: url(../images/splitter.png);
  margin-top: 4rem;
}

main .second #second-2 .news {
  background-image: url(../images/newshome.png);
}

main .second #second-2 .preview {
  background-image: url(../images/previewcard.png);
}

main .second #second-2 .landing {
  background-image: url(../images/sunnyside.png);
}

main .third {
  position: relative;
  font-family: "Chakra Petch", sans-serif;
}

main .third #gradientBg {
  -webkit-animation: slide 4.5s ease-in-out infinite alternate;
          animation: slide 4.5s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #f5ceff, #fff5cf, #adfff7);
  bottom: 0;
  top: 0;
  position: absolute;
  left: -65%;
  right: -65%;
  z-index: -1;
  opacity: 0.9;
}

main .third #pic {
  position: absolute;
  left: 0;
  bottom: 40vh;
  padding: 32px 32px 32px 80px;
  background-color: white;
  border-radius: 0 47.5% 47.5% 0;
}

main .third #pic #profilepic {
  width: 180px;
  border-radius: 50%;
}

main .third #third-1 {
  margin-top: 6rem;
}

main .third #third-1 p {
  color: #00221C;
  padding: 2rem 0;
  font-size: 1.75rem;
  font-weight: 500;
  letter-spacing: 1px;
}

main .third #third-1 p span {
  font-size: 2.25rem;
  font-family: "Caveat", cursive;
  font-weight: 500;
  background-image: linear-gradient(15deg, #00b89c, #ff56ab);
  -webkit-background-clip: text;
  color: transparent;
  padding: 0 0.25rem;
  font-family: "Caveat", cursive;
}

main .third #third-2 {
  padding: 2rem 0;
}

main .third #third-2 #quote {
  margin: 0 120px 0 300px;
}

main .third #third-2 #quote .resize img {
  width: 58px;
}

main .third #third-2 #quote #openingquote {
  padding-top: 10px;
  padding-left: 80px;
}

main .third #third-2 #quote #openingquote img {
  -webkit-filter: drop-shadow(0 0 4px rgba(0, 71, 57, 0.3));
          filter: drop-shadow(0 0 4px rgba(0, 71, 57, 0.3));
}

main .third #third-2 #quote #closingquote {
  padding-right: 80px;
  padding-bottom: 10px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

main .third #third-2 #quote #closingquote img {
  -webkit-filter: drop-shadow(0 0 4px rgba(0, 71, 57, 0.3));
          filter: drop-shadow(0 0 4px rgba(0, 71, 57, 0.3));
}

main .third #third-2 #quote #content {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 2rem 3rem;
  border-radius: 45px;
  font-family: "Alef", sans-serif;
}

main .third #third-2 #quote #content #content-1 {
  font-size: 1.35rem;
  line-height: 1.4;
  letter-spacing: 0.15px;
}

main .third #third-2 #quote #content #content-2 {
  font-weight: 700;
  font-size: 2.5rem;
  margin-top: 0.75rem;
  line-height: 1.25;
  letter-spacing: 0.8px;
  background-image: linear-gradient(15deg, #00b89c, #ff56ab);
  -webkit-background-clip: text;
  color: transparent;
  padding: 0 0.25rem;
  font-family: "Caveat", cursive;
}

main .third #third-2 #quote #content #content-3 {
  font-size: 0.85rem;
  letter-spacing: 0.25px;
  color: #7d7d7d;
  font-weight: 400;
}

main .third #third-3 {
  padding-top: 1.25rem;
}

main .third #third-3 #funfacts {
  text-align: center;
  padding-bottom: 1.25rem;
  font-family: 'Chelsea Market', cursive;
  font-size: 1.15rem;
}

main .third #third-3 #funfacts span {
  font-family: "Chakra Petch", sans-serif;
  font-size: 1.05rem;
}

main .third #third-3 .grid {
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  margin: 0 10rem 4rem;
  gap: 1.5rem;
}

main .third #third-3 .grid .facts {
  min-height: 8.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fcf6ee;
  border: 2px #003636 solid;
  -webkit-filter: drop-shadow(8px 8px 0 rgba(0, 54, 54, 0.4));
          filter: drop-shadow(8px 8px 0 rgba(0, 54, 54, 0.4));
}

main .third #third-3 .grid .facts p {
  width: 100%;
  padding: 0 20px;
  font-family: "Alef", sans-serif;
  font-size: 1rem;
  text-align: center;
  color: #00221C;
  letter-spacing: 0.25px;
}
/*# sourceMappingURL=style.css.map */